<header class="navbar bg-light opacity-75">
    <div class="container">
      <h1>Fruits App</h1>
      <a class="nav-link" href="/fruits">All Fruits</a>
      <% if (currentUser) { %>
        <a class="nav-link" href="/fruits/new">Create a Fruit</a>
        <li class="nav-link">Welcome <%= currentUser.username %></li>
        <li class="nav-link">
          <form action="/sessions?_method=DELETE" method="POST">
            <input type="submit" value="Log Out" />
          </form>
        </li>
        <% } else { %>
        <li><a class="nav-link" href="/users/new">Sign Up</a></li>
        <li><a class="nav-link" href="/sessions/new">Log In</a></li>
        <% } %>
    </div>
  </header>
