
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/library.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        <span id="headertext">Reader's <br> Journal</span>

        <div id="navbar">

            <nav>
                <li><a href="/library" class="navA">Home</a></li>

                <li>&nbsp; | &nbsp;</li>

                <li><a href="/library/new" class="navA">Add New Reading</a></li>

                <li> &nbsp; | &nbsp;</li>

                <li><a href="/profile/" class="navA">Profile</a></li>
            </nav>

            <div id="usernav">
                <li class="nav-link">Welcome <%= currentUser.username %> &nbsp;</li>
                <form action="/sessions?_method=DELETE" method="POST">
                    <input type="submit" value="Log Out" id="logout"/>
                </form>
            </div>

        </div>
    </header>
