
<%- include('./partials/loginheader') %>

<div id="createscreen">

    <p class="loginheader">Create Profile</p>

    <form action="/userprofile/<%= addUsername %>/<%= newUserId %>" method="POST">
        <label for="name" class="formtext">Name: </label>
        <br>
        <input type="text" name="name" required class="createinput">
        <br>

        <label for="bio" class="formtext">Tell us about yourself: </label>
        <br>
        <textarea rows="5" cols="38" name="bio" placeholder="Add a Bio" id="bioinput"></textarea>
        <br>

        <label for="interest" class="formtext">What are your interests or hobbies: </label>
        <br>
        <input type="text" name="interest" placeholder="comma seperated" class="createinput">
        <br>

        <label for="image" class="formtext">Upload a Profile Picture: </label>
        <br>
        <input type="text" name="image" placeholder=".png, .jpeg, .jpg, etc." class="createinput">
        <br>

        <input type="submit" value="Submit">
    </form>

</div>
