
<%- include('./partials/loginheader') %>

    <div id="auth">
        <div id="authintro">
            <p id="authheader">Welcome to Reader's Journal</p>
            <p id="authtext">The perfect companion to capture, cherish, and reflect on every page-turning moment in your literary voyage.</p>
        </div>
        <br><br>
        <div id="authenticationButtons">
            <a href="/sessions/new" id="login">Login</a>
            <p id="or">-- or --</p>
            <a href="/users/new" id="create">Create a <br> New Account</a>
        </div>
    </div>

</body>
</html>