
<%- include('./partials/loginheader') %>
    <div id="loginintro">
        <p id="loginheader">Welcome to Reader's Journal</p>
        <p id="logintext">The perfect companion to capture, cherish, and reflect on every page-turning moment in your literary voyage.</p>
    </div>
    <br><br>
    <div id="authenticationButtons">
        <a href="/sessions/new" id="login">Login</a>
        <p id="or">-- or --</p>
        <a href="/users/new" id="create">Create a <br> New Account</a>
    </div>

</body>
</html>