
* {
    box-sizing: border-box;
}

body{
    background-color: #f0e3d2;
    margin: 0;
}

header{
    background: #c5a491;
    margin: 100;
    font-family: "Delius Swash Caps", cursive;
    font-size: 2vw;
    padding: .5em;
}

#auth{
    position: relative;
    top: 300px;
    left: 50vw;
    transform: translate(-50%, -50%);
    padding: 10px;
}
/* https://blog.hubspot.com/website/center-div-css */

#authintro{
    font-family: "Roboto", sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50em;
}

#authheader{
    font-size: 2.5vw;
    text-align: center;
    font-weight: 400;
}

#authtext{
    font-size: 1.5vw;
    text-align: center;
    font-weight: 300;
}

#authenticationButtons{
    display: block;
    margin-left: 40vw;
    margin-right: 3vw;
    max-width: 50em;
}

#login{
    display: block;
    width: 20vw;
    height: 3vw;
    background: #b6b19e;
    padding: 1vw;
    text-align: center;
    border-radius: 5px;
    color:seashell;
    font-weight: bold;
    line-height: 1vw;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 1.5vw;
    font-weight: 500;
    cursor: pointer;
}

#login:hover{
    background: #CCD5C0;
}

#create{
    display: block;
    width: 20vw;
    height: 5vw;
    background: #b6b19e;
    padding: 1vw;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 1.5vw;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 1.5vw;
    font-weight: 500;
    cursor: pointer;
}

#create:hover{
background: #CCD5C0;
}

#notfound{
    color:maroon;
    border: .05em solid red;
    width: 15em;
    font-size: 1.2em;
    background-color: lightpink;
}

.loginscreen{
    position: relative;
    top: 300px;
    left: 90vw;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.loginheader{
    font-size: 2.5vw;
    font-weight: 425;
    margin-left: 5vw;
}

.formtext{
    font-family: "Poppins", sans-serif;
    font-size: 1.5vw;
}

input[type=text] {
    border: 2px solid rgb(175, 175, 175);
    border-radius: 4px;
    margin: 10px 0;
    font-size: 1.5vw;
    font-family: "Roboto", sans-serif;
    cursor: text;
}

input[type=password]{
    border: 2px solid rgb(175, 175, 175);
    border-radius: 4px;
    margin: 10px 0;
    font-size: 1.5vw;
    font-family: "Roboto", sans-serif;
    cursor: text;
}

.logininput{
    padding: 5px 10px;
}

input[type=submit]{
    box-sizing: border-box;
    background: #b6b19e;
    border: .5px solid white;
    border-radius: 4px;
    padding: 10px 25px;
    font-family: "Roboto", sans-serif;
    font-size: 1.4vw;
    color: seashell;
    cursor: pointer;
    max-width: 40ch;
}

input[type=submit]:hover{
    background: #CCD5C0;
}

#createscreen{
    position: relative;
    top: 300px;
    left: 85vw;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.createinput{
    width: 425px;
    height: 35px;
}

#bioinput{
    text-align: left;
    resize: none;
    vertical-align: text-top;
    border: 2px solid rgb(175, 175, 175);
    border-radius: 4px;
    font-size: 1.5vw;
    font-family: "Roboto", sans-serif;
    cursor: text;
}