
<%- include('../partials/loginheader') %>

<body>
    <div class="loginscreen">
        <h1 class="loginheading">Login</h1>
        <p id="notfound">Username / Password not Found!</p>
        <form action="/sessions" method="POST">
            <span>Username:</span> <input required type="text" name="username"/><br>
            <span>Password:</span> <input required type="text" name="password"><br>
            <input type="submit" name="" value="Login" class="loginbutton"/>
        </form>
    </div>
</body>
</html>