
<%- include('../partials/loginheader') %>

<body>
    <div class="loginscreen">
        <p class="loginheader">Login</p>
        <form action="/sessions" method="POST" class="loginform">
            <span class="formtext">Username:</span> <input required type="text" name="username" class="logininput"/>
            <br><br>
            <span class="formtext">Password:</span> <input required type="text" name="password" class="logininput">
            <!-- type=password -->
            <br><br>
            <input type="submit" name="" value="Login" class="loginbutton"/>
        </form>
    </div>
</body>
</html>