<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <p>Username / Password not Found!</p>
    <form action="/sessions" method="POST">
        Username: <input required type="text" name="username"/><br>
        Password: <input required type="text" name="password"><br>
        <input type="submit" name="" value="Login"/>
    </form>
</body>
</html>