
<%- include('../partials/loginheader') %>

    <div class="loginscreen">
        <p class="loginheader">Sign Up</p>
        <form action="/users" method="POST">
            <span class="formtext">Username:</span> <input required type="text" name="username" class="logininput"/>
            <br><br>
            <span class="formtext">Password:</span> <input required type="text" name="password" class="logininput"/>
            <br><br>
            <input type="submit" name="" value="Sign Up" id="loginbuttons"/>
        </form>
    </div>
</body>
</html>