
<%- include('../partials/loginheader') %>

    <div class="loginscreen">
        <p class="loginheader">Sign Up</p>
        <br>
        <p id="notfound">Username already exist</p>
        <br>
        <form action="/users" method="POST">
            <span class="formtext">Username:</span> <input required type="text" name="username" class="logininput"/>
            <br><br>
            <span class="formtext">Password:</span> <input required type="text" name="password" class="logininput">
            <br><br>
            <input type="submit" name="" value="Sign Up"/>
        </form>
    </div>

    <%- include('../partials/footer.ejs') %>