
<%- include('../partials/loginheader') %>

    <h1>Sign Up</h1>
    <p>Username already exist</p>
    <form action="/users" method="POST">
        Username: <input required type="text" name="username"/><br>
        Password: <input required type="text" name="password"><br>
        <input type="submit" name="" value="Sign Up"/>
    </form>
</body>
</html>